/* PAGE */

body,
.pure-g [class*=pure-u] {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3 {
  font-family: 'Oswald', 'Arial Narrow', sans-serif;
  
}

.container {
  box-sizing: border-box;
  width: 100%;
  padding: 45px 20px;
  text-align: center;
}

body {
  background-color: 	lightblue;
}


/* NAVBAR */

.navbar {
  position: fixed;
  padding: 5px;
  background: #0c1a2b;
  font-family: 'Oswald', 'Arial Narrow', sans-serif;
  text-align: center;
  z-index: 100;
}

.navbar a {
  color: #fff;
}

.navbar a:active,
.navbar a:focus,
.navbar a:hover {
  background: #233e5e;
}

.navbar .pure-menu-heading {
  font-weight: bold;
  text-transform: none;
}

/* END NAVBAR */


/* MY STUFF */



.test-border {
  border: 4px black solid;
  border-radius: 10px;
  padding: 5px;
  margin: 10px;
  float: none;
  margin: 0 auto;
}

.bigger-text {
  font-size: 20px;
  font-weight: bold;
}

input {
  font-size: 10px;
}

.text-white {
  color: white;
}
.smaller-text{
  font-size: 10px;
}